$rouge: rgba(153, 0, 51, 1);
$bleu: rgba(0, 102, 102, 1);
$rouge_sombre: darken($rouge, 10%);
$bleu_sombre: darken($bleu, 5%);

.bleu{
  color: $bleu_sombre;
}

.blanc{
  color: white;
}

div#top{
  height:40rem;
  background-image: url("../background.jpg");
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;

  .reduc_rouge{
    display: flex;
    flex-direction: row;
    background-color:$rouge_sombre;
    align-items: center;
    width:30%;
    transform: rotate(20deg);
    h2 {
      font-size: 1rem;
      margin: 1rem;
      text-align: center;
      small {
        font-size: 0.8rem;
        font-weight: lighter;
      }
    }
  }
  .bottom_texte{
    width:100%;
    h2 {
      font-size: 1rem;
      margin: 1rem;
      text-align: left;
      small {
        font-size: 0.8rem;
        font-weight: lighter;
      }
    }

  }
}

div#rdv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .rdv_right{
    border: 2px solid $bleu_sombre;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

div.textcenter{
  display:flex;
  flex-direction: column;
  align-items: center;
  h2,h3{
    text-align: center;
  }
}

div.bottom_titre{
  font-family: GothamHTF;
}

div#bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  .elements{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 480px) {
  div#rdv{
    display: flex;
    justify-content: space-between;
  }
  div#bottom{
    flex-direction:row;
  }
}

@media only screen and (min-width: 768px) {
  div#rdv {
    justify-content: space-around;
  }
  div.bottom_titre {
    flex-direction: row-reverse;
  }
}
